services:
  open_notebook:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8502:8502"
      - "5055:5055"
    env_file:
      - ./docker.env
    environment:
      # SQLite database path (inside container)
      - SQLITE_DB_PATH=/app/data/sqlite-db/open_notebook.db
    volumes:
      - ./notebook_data:/app/data
    restart: always
    
